@charset 'utf-8';

@import './utils';

// 颜色
$com-color-main: #4d86f1;
$com-color-sub: #ffa800;
$com-color-white: #ffffff;
$com-color-white2: #f6f6f6;
$com-color-white3: #dcdcdc;
$com-color-white4: #eeeeee;
$com-color-white5: #f5f8fe;
$com-color-white6: #edf3fe;
$com-color-white7: #f5f5f5;
$com-color-white8: #dbe7fc;
$com-color-white9: #ddd;
$com-color-white11: #e8e8e8;
$com-banner-white: #c0c0c0;
$com-color-white12: rgb(245, 245, 245);
$com-color-black: #000;
$com-color-black2: rgba(250, 142, 142, 0.1);
$com-color-yellow: #ffab00;
$com-color-yellow2: #ffa900;
$com-color-yellow3: #f6de3d;
$com-color-gray: #333333;
$com-color-gray2: #666666;
$com-color-gray3: #999999;
$com-color-gray4: #717171;
$com-color-gray5: #e5e5e5;
$com-color-gray6: rgb(102, 102, 102);
$com-color-gray7: #888888;
$com-color-gray8: #bbbbbb;
